body {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(../images/img-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    height: 100vh;
}

.head {
    width: 90%;
    height: 50px;
    margin: auto;
}

.head-child-1 img {
    width: 200px;
}

.head-child-1 {
    float: left;
    width: 40%;
}

.head-child-2 {
    float: left;
    width: 60%;
}

.head-child-2 ul li {
    list-style: none;
    float: left;
    margin-left: 25px;
}

.head-child-2 ul li a {
    color: rgb(255, 255, 255);
    font-size: 29px;
    text-decoration: none;
    text-transform: capitalize;
}

.clear {
    clear: both;
}

/*  //////////////////////////////////////////////////////////////// */
.sec-1 {
    margin-top: 200px;
}

.sec-1-div {
    text-align: center;
    width: 80%;
    margin: auto;
    color: rgba(255, 255, 255, 0.885);
}

.sec-1-div .p-1 {
    font-size: 25px;
    text-transform: capitalize;
}

.sec-1-div h1 {
    margin-top: 10px;
    font-size: 35px;
    text-transform: capitalize;
}

.sec-1-div .p2 {
    font-size: 20px;
    margin-top: 40px;
}

.btn-1,
.btn-2 {
    background-color: transparent;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.btn-1 {
    border: 0;
    background-color: rgb(167, 104, 21);
}

.btn-2 {
    border: 2px white solid;
}

.btn-1 a,
.btn-2 a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

/*  //////////////////////////////////////////////////////////////// */

.sec-2 {
    padding: 100px 0;
}

.sec-2-child1 {
    width: 50%;
    float: left;
    text-align: center;
}

.sec-2-child1 img {
    width: 80%;
}

.sec-2-child2 {
    width: 50%;
    text-align: center;
    float: left;
}

.who {
    font-size: 30px;
    font-weight: 600;
    color: rgb(93, 58, 12);
    text-transform: capitalize;
}

.p3 {
    font-size: 20px;
    color: rgb(93, 58, 12);
    margin-bottom: 35px;
}

.sec-2-child2 ul {
    text-align: start;
    list-style: none;
}

.sec-2-child2 ul li {
    font-size: 20px;
    margin: 15px 0;
    color: rgb(93, 58, 12);
}

.sec-2-child2 ul li a {
    text-decoration: none;
    color: rgb(93, 58, 12);
}

ul li i {
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    color: rgb(93, 58, 12);
    font-size: 20px;
    border: 2px solid rgb(121, 103, 14);
    padding-top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* /////////////////////////////////////////////////////////7 */
.sec-3 {
    padding: 100px 0;
    background-color: #eee;
}

/* /////////////////////////////////////////////////////////7 */
.sec-4 {
    padding: 100px 0;
    background-color: #ffffff;
}

.p-3 {
    text-align: start;
    margin-left: 30px;
    font-size: 20px;
    color: rgb(93, 58, 12);
    margin-bottom: 35px;
}

.contact1 {
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding-top: 10px;
    color: white;
    background-color: rgb(93, 58, 12);
    border: transparent;
}

.sec-2-child1 iframe {
    margin-top: 80px;
}

/* /////////////////////////////////////////////////////////7 */
.sec-5 {
    text-align: center;
    background-color: #eee;
}

.baking {
    font-size: 30px;
    font-weight: 600;
    padding-top: 25px;
    color: rgb(93, 58, 12);
}

.text-5 {
    font-size: 20px;
    margin-top: 25px;
    color: rgb(93, 58, 12);
}

.parent-5 {
    width: 100%;
    padding: 20px 10px;
}

.child1 {
    width: 33%;
    float: left;
    text-align: center;
}

.child2 {
    margin: 0 0.5%;
}

.child1 img {
    width: 90%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.child1 h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgb(93, 58, 12);
}

.child1 p {
    font-size: 20px;
    font-weight: 400;
    color: rgb(93, 58, 12);
}

/* /////////////////////////////////////////////////////////7 */
.sec-6 {
    background-color: rgb(88, 58, 17);
    height: 500px;
}

.a-1 {
    padding-top: 30px;
    float: left;
    width: 24%;
}
.a-1 ul{
    list-style: none;
}
.a-1 ul li{
    color: rgb(220, 220, 220);
    margin: 15px 0;
    border-bottom: 2px solid rgb(51, 38, 10);
}
.ul-head {
    font-size: 28px;
}
.greter{
    border: 0px;
    color: white;
}

.a-1-i{
    color: white;
    background-color: transparent;
    border: 0px;
}
.a-1 ul li a{
    text-decoration: none;
    color: white;
}
/* ///////////////////////////////////////////////////////////////////// */

.sec-7{
    background-color: rgb(78, 59, 16);
    padding-bottom: 50px;
}
.end{
    width: 30%;
    text-align: center;
    margin: auto;
}
.end p{
    color: rgb(208, 208, 208);
    font-size: 23px;
}
.icons a{
    text-decoration: none;
}
.icons a i{
    font-size: 30px;
    margin-left: 15px;
    color: rgb(254, 254, 254);
}